<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>My Example</title>

<link rel="stylesheet" href="style/style.css">

</head>
    <body>

        <form class="myForm" method="POST" action="/">

        <p>
            <label>Name 
            <input type="text" name="customer_name" required>
            </label> 
        </p>

        <p>
            <label>Email 
            <input type="email" name="email_address">
            </label>
        </p>
            
        <p>
            <label>Enquiry Regarding 
            <select id="pickup_place" name="pickup_place">
            <option value="" selected="selected">Select One</option>
            <option value="website" >Our Website</option>
            <option value="membership" >Membership</option>
            <option value="telepathy" >We'll Guess!</option>
            </select>
            </label> 
        </p>

        <p>
            <label>Enquiry 
            <textarea name="comments" maxlength="500"></textarea>
            </label>
        </p>

        <p><button>Submit Enquiry</button></p>

        </form>

    </body>
</html>